:root {
    --body-bg: #e0e5ec;                                                 /* Color de fondo para el body*/
    --container-bg: #e0e5ec;                                            /* Color de fondo para los contenedores: main, section */
    --items-bg: #e0e5ec;                                                /* Color de fondo para botones, inputs, selects, div */
    --shadow-first: #babecc;                                            /* Color para la primera sombra */
    --shadow-second: #ffffff;                                           /* Color para la segunda sombra */
    --text-color: #000000;                                              /* Color para el texto */
    --text-color-select: #0f0f0f;                                       /* Color para el texto de los select */
    --toggle-label-color: #555;                                         /* Color de fondo para el boton de tema */
    --task-priority-low-bg: #DCDCDC;                                    /* Color de fondo para la prioridad baja */
    --task-priority-medium-bg: #ffdb4b;                                 /* Color de fondo para la prioridad media */
    --task-priority-high-bg: #ff0000;                                   /* Color de fondo para la prioridad alta */
    --task-status-pending-bg: #ffdb4b;                                  /* Color de fondo para el estado pendiende */
    --task-status-inprocess-bg: #7d99ff;                                /* Color de fondo para el estado en proceso */
    --task-status-finished-bg: #57ff95;                                 /* Color de fondo para el estado terminado */
    --font-size-xs: clamp(0.8rem, 1vw, 0.9rem);                           /* Tamaño extra pequeño: etiquetas pequeñas, notas o elementos secundarios */
    --font-size-sm: clamp(1rem, 1.5vw, 1.1rem);                           /* Tamaño pequeño: base para párrafos, botones o enlaces secundarios */
    --font-size-md: clamp(1.2rem, 2vw, 1.4rem);                           /* Tamaño medio: subtítulos, encabezados pequeños o textos destacados */
    --font-size-lg: clamp(1.5rem, 3vw, 2rem);                             /* Tamaño grande: títulos principales o bloques importantes */
    --font-size-xl: clamp(2rem, 5vw, 3rem);                               /* Tamaño extra grande: hero text, encabezados de secciones o animaciones tipográficas */
}

body.dark-theme {
    --body-bg: #121212;                                                 /* Color de fondo para el body*/
    --container-bg: #1a1a1a;                                            /* Color de fondo para los contenedores: main, section */
    --items-bg: #1a1a1a;                                                /* Color de fondo para botones, inputs, selects, div */
    --shadow-first: #0a0a0a;                                            /* Color para la primera sombra */
    --shadow-second: #2a2a2a;                                           /* Color para la segunda sombra */
    --text-color: #f5f5f5;                                              /* Color para el texto */
    --text-color-select: #0f0f0f;                                       /* Color para el texto de los select */
    --toggle-label-color: #999;                                         /* Color de fondo para el boton de tema */
}

body {
    margin: 0;
    padding: 0;
    background: var(--body-bg);
}


/* ================================
    Estilos para el header principal
================================ */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--container-bg);
    padding: 20px;
    box-shadow: 8px 8px 16px var(--shadow-first),
                -8px -8px 16px var(--shadow-second);
}

.header h1 {
    text-align: center;
    font-size: var(--font-size-lg);
    color: var(--text-color);
}

.header-actions {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
}

.theme-toggle {
    background: var(--items-bg);
    border: none;
    border-radius: 12px;
    box-shadow: 6px 6px 12px var(--shadow-first),
                -6px -6px 12px var(--shadow-second);
    padding: 10px 20px;
    cursor: pointer;
}

.theme-toggle:hover {
    box-shadow: inset 4px 4px 8px var(--shadow-first),
                inset -4px -4px 8px var(--shadow-second);
}

.username {
    font-size: var(--font-size-sm);
    margin: 0;
    padding: 10px;
    background: var(--container-bg);
    box-shadow: inset 4px 4px 8px var(--shadow-first),
                inset -4px -4px 8px var(--shadow-second);
    border-radius: 10px;
    color: var(--text-color);
}

.btn-logout {
    background: var(--items-bg);
    font-size: var(--font-size-sm);
    border: none;
    border-radius: 12px;
    box-shadow: 6px 6px 12px var(--shadow-first),
                -6px -6px 12px var(--shadow-second);
    padding: 10px 20px;
    cursor: pointer;
    color: var(--text-color);
}

.btn-logout:active {
    box-shadow: inset 4px 4px 8px var(--shadow-first),
                inset -4px -4px 8px var(--shadow-second);
}

/* ================================
    Estilos para el main/dashboard
================================ */
.dashboard {
    background: var(--container-bg);
    border-radius: 20px;
    box-shadow: 8px 8px 16px var(--shadow-first),
                -8px -8px 16px var(--shadow-second);
    padding: 20px;
    margin: 20px;
}


/* ================================
    Estilos para las acciones de las tareas
================================ */
.task-actions {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-bottom: 10px;
    margin-right: 10px;
}

.task-new {
    background: var(--items-bg);
    font-size: var(--font-size-sm);
    border: none;
    border-radius: 12px;
    box-shadow: 6px 6px 12px var(--shadow-first),
                -6px -6px 12px var(--shadow-second);
    padding: 10px 20px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    color: var(--text-color);
}

.task-new:active {
    box-shadow: inset 4px 4px 8px var(--shadow-first),
                inset -4px -4px 8px var(--shadow-second);
}

/* ================================
    Estilos para los formularios
================================ */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal[hidden] {
    display: none !important;
}

.modal-content, .modal-content-edit {
    background: var(--items-bg);
    padding: 2rem;
    border-radius: 8px;
    width: 90%;
    max-width: 400px;
    position: relative;
}

#closeModalBtn, #closeModalEditBtn {
    position: absolute;
    top: 1rem;
    right: 1rem;
    border: none;
    background: var(--items-bg);
    border-radius: 12px;
    box-shadow: 6px 6px 12px var(--shadow-first),
                -6px -6px 12px var(--shadow-second);
    padding: 6px;
    font-size: var(--font-size-lg);
}

#closeModalBtn:active, #closeModalEditBtn:active {
    box-shadow: inset 4px 4px 8px var(--shadow-first),
                inset -4px -4px 8px var(--shadow-second);
}

.modal-content h2, .modal-content-edit h2 {
    font-size: var(--font-size-lg);
    text-align: center;
    color: var(--text-color);
}

.form-actions-edit {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 15px;
}

.title,
.description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 8px;
}

.title label, .description label {
    font-size: var(--font-size-sm);
    margin-bottom: 5px;
    color: var(--text-color);
}

.title input {
    background: var(--items-bg);
    border: none;
    border-radius: 10px;
    box-shadow: inset 4px 4px 8px var(--shadow-first),
                inset -4px -4px 8px var(--shadow-second);
    padding: 10px;
    color: var(--text-color);
}

.description textarea {
    resize: none;
    background: var(--items-bg);
    border: none;
    border-radius: 10px;
    box-shadow: inset 4px 4px 8px var(--shadow-first),
                inset -4px -4px 8px var(--shadow-second);
    padding: 10px;
    height: 70px;
    color: var(--text-color);
}

.selects {
    display: flex;
    align-items: center;
    gap: 30px;
    font-size: var(--font-size-sm);
    margin-top: 5px;
    color: var(--text-color);
}

.status,
.priority {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.status select, .priority select {
    background: var(--items-bg);
    border: none;
    border-radius: 10px;
    box-shadow: inset 4px 4px 8px var(--shadow-first),
                inset -4px -4px 8px var(--shadow-second);
    padding: 10px;
    color: var(--text-color);
}

/* Colores para el estado */
.option-pending {
    background: var(--task-status-pending-bg);
    color: var(--text-color-select);
}

.option-inprocess {
    background: var(--task-status-inprocess-bg);
    color: var(--text-color-select);
}

.option-finished {
    background: var(--task-status-finished-bg);
    color: var(--text-color-select);
}

/* Colores para la prioridad */
.option-low {
    background: var(--task-priority-low-bg);
    color: var(--text-color-select);
}

.option-medium {
    background: var(--task-priority-medium-bg);
    color: var(--text-color-select);
}

.option-high {
    background: var(--task-priority-high-bg);
    color: var(--text-color-select);
}

.form-actions, .form-actions-edit {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 30px;
    margin-top: 15px;
    font-size: var(--font-size-sm);
}

.btn-create-task, .btn-delete-task, .btn-edit-task {
    background: var(--items-bg);
    font-size: var(--font-size-sm);
    border: none;
    border-radius: 12px;
    box-shadow: 6px 6px 12px var(--shadow-first),
                -6px -6px 12px var(--shadow-second);
    padding: 10px 20px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    color: var(--text-color);
}

.btn-create-task:active, .btn-delete-task:active, .btn-edit-task:active {
    box-shadow: inset 4px 4px 8px var(--shadow-first),
                inset -4px -4px 8px var(--shadow-second);
}


/* ================================
    Estilos para el header de las semanas
================================ */
.header-week {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 15px;
    margin-top: 20px;
}

.week {
    display: flex;
    gap: 15px;
}

.prev-week,
.next-week {
    background: var(--items-bg);
    font-size: var(--font-size-sm);
    text-align: center;
    border: none;
    border-radius: 12px;
    box-shadow: 6px 6px 12px var(--shadow-first),
                -6px -6px 12px var(--shadow-second);
    padding: 10px 20px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    color: var(--text-color);
}

.prev-week:active {
    box-shadow: inset 4px 4px 8px var(--shadow-first),
                inset -4px -4px 8px var(--shadow-second);
}

.next-week:active {
    box-shadow: inset 4px 4px 8px var(--shadow-first),
                inset -4px -4px 8px var(--shadow-second);
}

.week-range {
    text-align: center;
    font-size: var(--font-size-md);
    color: var(--text-color);
}


/* ================================
    Estilos para el carrusel de las tareas
================================ */
.week-carousel {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 25px;
}

.day-column {
    background: var(--items-bg);
    border-radius: 20px;
    box-shadow: 8px 8px 16px var(--shadow-first),
                -8px -8px 16px var(--shadow-second);
    padding: 15px;
    margin-bottom: 20px;
}

.day-column h3 {
    font-size: var(--font-size-lg);
    margin: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: space-between;
    color: var(--text-color);
}

.task-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    flex-wrap: wrap;
    transition: max-height 0.3s ease, opacity 0.3s ease;
    overflow: hidden;
}

.task-list.collapsed {
    max-height: 0;
    opacity: 0;
    pointer-events: none;
}

.day-toggle-label {
    float: right;
    font-size: var(--font-size-sm);
    color: var(--toggle-label-color);
    cursor: pointer;
    user-select: none;
}


.task-card {
    margin-top: 10px;
    padding: 15px;
    background: var(--container-bg);
    box-shadow: inset 4px 4px 8px var(--shadow-first),
                inset -4px -4px 8px var(--shadow-second);
    border-radius: 20px;
}

.task-title {
    margin: 0;
    font-size: var(--font-size-md);
    color: var(--text-color);
}

.task-description {
    margin-top: 3px;
    font-size: var(--font-size-sm);
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--text-color);
}

.task-info {
    display: flex;
    align-items: center;
    gap: 15px;
    flex-wrap: wrap;
}

.task-priority, .task-status {
    padding: 7px 12px;
    border-radius: 12px;
    box-shadow: 4px 4px 8px var(--shadow-first),
                -4px -4px 8px var(--shadow-second);
    font-weight: bold;
    color: #333;
}

/* Estilos para las prioridades */
.task-priority.baja {
    background: var(--task-priority-low-bg)
}

.task-priority.media {
    background: var(--task-priority-medium-bg)
}

.task-priority.alta {
    background: var(--task-priority-high-bg)
}

/* Estilos para las prioridades */
.task-status.pendiente {
    background: var(--task-status-pending-bg);
}

.task-status.en-progreso {
    background: var(--task-status-inprocess-bg);
}

.task-status.completada {
    background: var(--task-status-finished-bg);
}


/* ================================
    Estilos para pantallas moviles
================================ */
footer {
    text-align: center;
    padding: 20px;
    background: var(--container-bg);
    box-shadow: inset 4px 4px 8px var(--shadow-first),
                inset -4px -4px 8px var(--shadow-second);
    border-radius: 20px;
    margin: 20px;
    color: var(--text-color);
}


/* ================================
    Estilos para pantallas moviles
================================ */
@media (max-width: 768px) {
    .header-actions {
        display: flex;
        align-items: end;
        flex-direction: column;
        padding: 3px;
    }

    .prev-week,
    .next-week {
        flex: 1;
    }

    .task-actions {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .task-list {
        grid-template-columns: 1fr;
        gap: 5px;
    }

    .task-info {
        gap: 10px;
    }
}