@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

:root {
    --body-bg: #e0e5ec;
    --container-bg: #e0e5ec;
    --shadow-first: #babecc;
    --shadow-second: #ffffff;
    --text-color: #000000;
}

body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    background: var(--body-bg);
    color: var(--text-color);
}


/* ================================
    Estilos del section
================================ */
.login {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
}


/* ================================
    Estilos del contenedor para los formularios de login y register
================================ */
.container-form {
    width: 320px;
    padding: 25px;
    background: var(--container-bg);
    box-shadow: inset 4px 4px 8px var(--shadow-first),
                inset -4px -4px 8px var(--shadow-second);
    border-radius: 20px;
}


/* ================================
    Estilos de los botones para los cambios de formularios
================================ */
.form-toggle {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    gap: 10px;
}

.show-login, .show-register {
    flex: 1;
    padding: 10px 20px;
    font-weight: bold;
    cursor: pointer;
    background: var(--container-bg);
    border: none;
    border-radius: 12px;
    box-shadow: 6px 6px 12px var(--shadow-first),
                -6px -6px 12px var(--shadow-second);
}

.show-login:hover, .show-register:hover {
    box-shadow: inset 4px 4px 8px var(--shadow-first),
                inset -4px -4px 8px var(--shadow-second);
}


/* ================================
    Estilos para los formularios
================================ */
.container {
    display: grid;
    place-items: center;
}


/* ================================
    Estilos para los formularios
================================ */
.form {
    display: none;
    flex-direction: column;
}

.form h2 {
    text-align: center;
    margin: 0 0 10px 0;
}

.form.active {
    display: flex;
}

.input-box {
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.input-box label {
    font-size: 14px;
    margin-bottom: 5px;
}

.input-box input {
    padding: 10px;
    background: var(--container-bg);
    border: none;
    border-radius: 10px;
    box-shadow: inset 4px 4px 8px var(--shadow-first),
                inset -4px -4px 8px var(--shadow-second);
    outline: none;
}

.buttons-form {
    display: flex;
    justify-content: center;
}

.btn-login, .btn-register {
    text-align: center;
    padding: 10px 20px;
    font-weight: bold;
    cursor: pointer;
    border: none;
    background: var(--container-bg);
    border-radius: 12px;
    box-shadow: 6px 6px 12px var(--shadow-first),
                -6px -6px 12px var(--shadow-second);
}

.btn-login:hover, .btn-register:hover {
    box-shadow: inset 4px 4px 8px var(--shadow-first),
                inset -4px -4px 8px var(--shadow-second);
}

/* ================================
    Estilos para pantallas moviles
================================ */
@media (max-width: 768px) {
    .login {
        gap: 15px;
    }

    .container-form {
        margin: 0 10px;
        width: 90%;
    }
}